<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <form enctype="multipart/form-data">
        <input name="members" type="file" id="members" />
        <input type="button" id="upload" value="upload" />
    </form>
</div>
@section scripts
{
    <script>
        $(function() {
            $('#upload').click(function() {
                var formData = new FormData();
                var membersFile = $('#members')[0];
                formData.append("membersFile", membersFile.files[0]);

                $.ajax({
                    url: '/api/file',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
}